<?xml version="1.0"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="app-file" xsi:type="File"
            layout="${date:format=:yyyy-MM-dd\ HH\:mm\:ss} ${level:uppercase=true} - ${callsite:includeSourcePath=true}: ${message} ${exception:format=tostring}"
            fileName="logs/app.log"
            deleteOldFileOnStartup="True"
    ArchiveFileName="logs/app{##}.log"
    archiveAboveSize="300000"
    keepFileOpen="true"
    ArchiveNumbering="Rolling"
    MaxArchiveFiles="3"
            Footer="*** *** *** Application has been terminated. *** *** ***" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="app-file" />
  </rules>
</nlog>   